* text=auto eol=lf

# Treat these as text
*.cpp text
*.hpp text
*.h text
*.c text
*.tpp text
*.ipp text
*.cmake text
CMakeLists.txt text

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
*.tar binary